{% extends 'base.html' %}


{% block body %}

<div class="container">
  <h1>Contacto</h1>
  <div class="row">

      <div class="col-md-8">

        <form  method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button class="btn btn-primary"type="submit" >Enviar</button>
        </form>
        {% if text %}
        <h2>{{ text}}</h2>
        {% endif %}
      </div>

      <div class="col-md-4">
        <!-- poner algo -->
      </div>

      <!-- end row -->
    </div>

</div>
  <!-- end container -->


{% endblock %}
