{% extends 'base.html' %}



{% block body %}
<div class="container">

<div class="row">

  <h1>Estimación </h1>
  <h2>Intervalos de Confianza para la media</h2>

{% if not error %}
  <p>
    Puede calcular la media y la desviación estandar
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Aquí
    </button>
  </p>

{% else %}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Verifique nuevamente que solo haya ingresado números separados por comas.
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Aquí
    </button>
  </div>
{% endif %}
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <form method="POST" action="/home/estimacion-media/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Se calcularán N, X, σ </h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {{form_modal.as_p}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </div>
      </form>
    </div>

  </div>
</div>

<!-- fin row -->
</div>



  <div class="row">

    <div class="col-md-4">
      <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary"type="submit" >
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>  Calcular
        </button>
      </form>
      {% if resultado %}
      <h3 >El intervalo es: <span class="text-primary">{{ resultado }}</span> </h3>
      <span class="bg-primary"></span>
      {% endif %}
    </div>
    <div class="col-md-8">
      <!-- 4:3 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5ABpqVSx33I?ecver=2"></iframe>
      </div>
    </div>

    <!-- end row -->
  </div>


  <!-- end container -->
</div>

{% endblock %}
