{% extends 'base.html' %}


{% block body %}
<div class="container">

  <h1>La distribución de Poisson</h1>
  <div class="row">

    <div class="col-md-4">
      <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary"type="submit" >
          <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>  Calcular
        </button>
      </form>
      {% if resultado %}
      <h3>El porcentaje es de: <span class="text-primary">{{ resultado }}%</span> </h3>
      <span class="bg-primary"></span>
      {% endif %}
    </div>

    <div class="col-md-8">
      <!-- 4:3 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5ABpqVSx33I?ecver=2"></iframe>
      </div>
    </div>

    <!-- end row -->
  </div>


  <!-- end container -->
</div>

{% endblock %}
