cycler==0.10.0
dj-database-url==0.4.2
Django==1.10.5
djangorestframework==3.6.3
Faker==0.7.17
gunicorn==19.7.1
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
patsy==0.4.1
psycopg2==2.7.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
seaborn==0.8
six==1.10.0
statsmodels==0.8.0
tornado==4.5.1
whitenoise==3.3.0
tk==8.6.6-vc14_5
