<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">

    {% block head %}
    <title>Proyecto Estadística UTN</title>
    {% endblock %}
  </head>

  <body>
    <br>
    <div class="container-fluid">

      <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container ">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home/">Proyecto Estadística</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">

                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Inferencial <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/home/tstudent/">T Student</a></li>
                    <li><a href="/home/estimacion-proporcion/">Estimación Proporción</a></li>
                    <li><a href="/home/estimacion-media/">Estimación Media</a></li>
                    <li><a href="/home/binomial/">Binomial</a></li>
                    <li><a href="/home/binomial-rango/">Binomial-Rango</a></li>
                    <li><a href="/home/poisson/">Poisson</a></li>
                    <li><a href="/home/poisson-rango/">Poisson-Rango</a></li>
                    <li><a href="/home/hipotesis-media/">Hipotesis Media</a></li>
                    <li><a href="/home/hipotesis-proporcion/">Hipotesis Proporcion</a></li>
                    <li><a href="/home/hipotesis-diferencia-medias/">Hipotesis Diferencia de Medias</a></li>
                  </ul>
                </li>

                <li><a href="/home/descriptiva-info/">Estadística Descriptiva</a></li>

                <li role="presentation" class="dropdown visible-lg">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Calculadoras <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/home/calculadora1/">Científica Escritorio 1</a></li>
                    <li><a href="/home/calculadora2/">Científica Escritorio 2</a></li>
                  </ul>
                </li>

                <li><a href="/home/contacto/">Contacto</a></li>
              </ul>

            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav>
      </div><!-- Container -->

    </div> <!-- /container fluid -->

    <div class="container-fluid">
      {% block body %}
      <h1>Base</h1>
      {% endblock %}


    </div><!-- /container fluid -->


    <div class="container-fluid">
      <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <p class="navbar-text pull-left">© 2017 - Proyecto Michael Montes. Twitter:
               <a href="https://twitter.com/michmoca" target="_blank" > @michmoca</a>
               <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:mlmontesc@est.utn.ac.cr">mlmontesc@est.utn.ac.cr</a><br>
          </p>

          <a href="https://github.com/michmoca/proyecto-estadisticautn" target="_blank" class="navbar-btn btn-info btn pull-right">
          <span class="glyphicon glyphicon-star"></span>Ver en github.com</a>
        </div>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


    <script>
      $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
      })
    </script>
  </body>
</html>
